header img {
    max-width: 48px;
    margin-right: 4px;
}

header,
footer {
    background-color: #202020;
}

header .active {
    color: #DC1E44 !important;
}

#login,
#cadastro_usuario {
    position: absolute;
    top: 50%;
    transform: translate(0, -70%);
}

#login .btn,
#listagem button,
#cadastro_produtos .btn,
#cadastro_usuario .btn {
    font-weight: bold;
    background-color: #DC1E44;
    transition: ease-in-out .2s;
}

#login .btn:hover,
#listagem button:hover,
#cadastro_produtos .btn:hover,
#cadastro_usuario .btn:hover {
    background-color: #8a1930;
}

#login a {
    color: #DC1E44;
    text-decoration: none;
}

#listagem table {
    border-color: black !important;
}

.table>:not(caption)>*>* {
    background-color: #dc1e441c;
    padding: 4px;
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-bg-type: #202020;
}

#listagem span {
    padding: 0;
}

#listagem .descricao {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#listagem td a {
    color: white;
    border-radius: 8px;
}

#listagem td img {
    width: 32px;
    height: 32px;
    object-fit: cover;
}